* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
}

.background {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-color: #000000;
}

.conteudo {
    overflow: auto;
    left: 0;
    right: 0;
    z-index: 2;
    position: relative;
}

.inp {
    display: flex;
    text-align: center;
    padding: 10px 10px 10px 32px;
    border-radius: 10px;
    font-weight: bold;
}

.sel {
    display: flex;
    text-align: center;
    padding: 0px 10px 20px 32px;
    color: #797979;
    font-weight: 100;
}

header {
    background-image: url(./Assets/imgs/background.jpeg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    padding: 0.7rem 14rem;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    align-items: center;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgb(170, 0, 170),
            rgba(0, 0, 0, 0)) 1 100%;
}

.logo {
    max-width: 175px;
    max-height: 175px;
}

.pix {
    max-width: 250px;
    max-height: 250px;
}

nav {
    color: #fff;
    padding: 10px;
}

li {
    text-shadow: 0px 2px 1px black;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a, .info-item {
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 0.4rem 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all.3s ease-in-out;
}

nav a.active, nav a:hover,
.info-item.active, .info-item:hover {
    color: rgb(133, 0, 115);
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

.insta, .discord {
    text-decoration: none;
    color: #5865F2;
    transition: all.3s ease-in-out;
}

.insta.active, .insta:hover,
.discord.active, .discord:hover {
    color: rgb(133, 0, 115);
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu i {
    color: rgb(133, 0, 115);
}

.menu {
    display: none;
}

section {
    margin: 1rem 3rem;
}

.main {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.main p {
    font-size: 1rem;
    color: #fff;
    font-size: larger;
}

.main h2 {
    color: #fff;
    padding-bottom: 25px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.social div {
    display: flex;
    flex: auto;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.social a {
    font-weight:bolder;
    padding: 1px;
    text-decoration: none;
}

.insta-img {
    width: 30px;
    height: 30px;
}

.insta-img:hover {
    width: 30px;
    height: 30px;
}

.discord-img {
    width: 42px;
    height: 30px;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}

.main h1 span:nth-child(2) {
    color: #00e8f8;
}

.produtos {
    display: flex;
    justify-content: space-evenly;
}

s {
    font-size: smaller;
    color: gray;
}

.produto {
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 0.4rem 1rem;
    background-color: #ffffff00;
    border: #00000050;
}

.info-item {
    padding: 0;
}

.produto img {
    width: 160px;
}

#seçao-regras::before {
    content: '';
    position: absolute;
    background: linear-gradient(transparent, black);
}

.regras {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.regras::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 2000px;
    height: 200px;
    background: linear-gradient(transparent, black);
}

.regras.active, #seçao-regras {
    height: auto;
}

#seçao-regras .regras.active::before {
    visibility: hidden;
}

.read-button {
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: rgb(133, 0, 115);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.read-button:hover {
    background-color: transparent;
    color: rgb(133, 0, 115);
    transition: all .3s ease-in-out;
}

#seçao-produtos {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#seçao-produtos p {
    margin-top: 10px;
}

#seçao-produtos img {
    width: 250px;
}

.seçao section {
    display: flex;
    justify-content: space-around;
}